* {
    user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-touch-callout: none !important;
}
body{
    user-select: none;
        /* 표준 속성 */
        -webkit-user-select: none;
        /* Safari, Chrome */
}
table {
    border-collapse: collapse;
    width: auto;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

th:nth-child(1), td:nth-child(1) { width: 100px; } /* Date 열 */
th:nth-child(2), td:nth-child(2) { width: 100px; } /* Time 열 */
th:nth-child(3), td:nth-child(3) { width: 200px; } /* Name 열 */
th:nth-child(4), td:nth-child(4) { width: 70px; } /* Gender 열 */
th:nth-child(5), td:nth-child(5) { width: 50px; } /* Age 열 */
th:nth-child(6), td:nth-child(6) { width: 700px; } /* File Name 열 */
th:nth-child(7), td:nth-child(7) { width: 70px; } /* Result 열 */

#search {
    padding: 10px;
    font-size: 16px;
    width: 800px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.filter-container {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.filter-container input,
.filter-container select {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#sort {
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100px;
    border: 2px solid #ccc;
    border-radius: 5px;
}